#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.Travel_MeanDiv {
    border: 1px Solid # C7 C7 C7 C7 C7 C7 C7 C7
        Pading: left: 0px 
        pading: right 0px
        Float: None
        
}
